<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjava.example.order.mapper.OrderMapper">
	<!-- <resultMap type="ExampleOrder" id="OrderMap">
		<result column="OPER_ACCOUNT" property="operAccount"/>
		<result column="ORDER_ID" property="orderId"/>
		<result column="SUBMIT_TIME" property="submitTime"/>
		<result column="TOTAL_PRICE" property="totalPrice"/>
	</resultMap> -->
	
    <select id="selectAll" resultType="ExampleOrder">
        select * from EXAMPLE_ORDER
    </select>
    
    <select id="selectAll2" resultType="ExampleOrder">
        select t.ORDER_ID orderId, t.OPER_ACCOUNT operAccount,t.SUBMIT_TIME submitTime,t.USER_NAME userName
         from EXAMPLE_ORDER t
    </select>
</mapper>
